{%include 'menubar.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>
<body>
    {%block mycontent%}

    <div class="card petdetaildiv" style="width: 18rem;">
        <img src="{{petdetail.Image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{petdetail.Breed}}</h5>
          
          <em>Name:</em><p class="card-text">{{petdetail.Name}}</p>
          About:<p class="card-text">{{petdetail.Description}}</p>
          Age:<p class="card-text">{{petdetail.Age}}</p>
          Species:<p class="card-text">{{petdetail.Species}}</p>
          Breed:<p class="card-text">{{petdetail.Breed}}</p>
          Gender:<p class="card-text">{{petdetail.Gender}}</p>
          <!-- Age:<p class="card-text">{{petdetail.Age}}</p> -->
          <a href="#" class="btn btn-primary">Add</a>
          <a href="{%url 'petList'%}" class="btn btn-primary">Back</a>
        </div>
      </div>
<div class="">

    

   
</div>
{%include 'footer.html'%}
{%endblock%}
</body>
</html>
